Repository kubeslice/kubeslice-controller, pull requests merged in 2022-12, with the labels that each got.

#97 Hotfix k8s24
  service/access_control_service.go
  service/access_control_service_test.go
  service/cluster_service.go
  service/cluster_service_test.go
Labels: ready-to-test

#94 docs(): Improvements to Readme
  .github/pull_request_template.md
  README.md
Labels: documentation

#102 fix(): Feature cleanup before uninstall (#101)
  Dockerfile
  Makefile
  cleanup/main.go
  config/cleanup/cleanup_job.yaml
  service/project_service.go
  service/project_service_test.go
  util/cleanup_utility.go
  util/common.go
  util/constants.go
Labels: enhancement, ready-to-test
